body {
    background-image: linear-gradient(
        to bottom,
        #0009, #0004
    ), url("background.jpg");
    object-fit: cover;
    background-size: cover; /* Añade esto para asegurarte de que la imagen de fondo se ajuste completamente */
    background-position: center center; /* Añade esto para centrar la imagen */
    background-repeat: no-repeat; /* Añade esto para que la imagen no se repita */
    
}

.contenedor {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.contenedor__panel {
    background-color: #cccc;
    padding: 25px;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0 0 10px #000.1;
    max-width: 30%;
    width: auto;
    text-align: center;
}

.contenedor__panel img {
    display: inline-block;
    width: 50%;
}

.contenedor__panel h1, 
.contenedor__panel h2 {
    font-size: medium;
}

.menu-button {
    background-color: #d69214;
    margin: 10px auto;
    color: #000000;
    padding: 10px;
    border: solid 1px;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    box-shadow: 0 0 10px #000.1;
    display: block;
}

.menu-button:hover {
    background-color: #d65214;
}

.menu-button:active {
    background-color: #d63214;
}

.menu-input {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input::placeholder{
    text-align: center;
}